<!-- barrra de navegacion con: public, about, contact 


barra menu:
<header>

public, about, contact 
</header>

---asdkdjklasasdjkljklasddjkl
<footer>
</footer>
-->

<body class="textbody">
    <header id='header'>
        <!-- Datos de la pagina -->
        <title>Departamento de Sistemas</title>
        <meta charset="utf-8" />
        <meta name="description" content="Layout">
        <meta name="author" content="Ian Perez 16212065">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="/public/js/jquery.js"></script>
        <script src="/public/js/popper.js"></script>
        <script src="/public/js/bootstrap.js"></script>
-->
        <link rel="stylesheet" href="css/styles.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!-- NavBar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="cs">

            <div class="navbar-customMex container-fluid">
                <div class=" navbar-nav ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMainCollapse"><span class="sr-only">Interruptor de Navegación</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/"></a><img src="/images/GobMex.svg" height="40" alt="logo Gobierno de México"></a>
                    <ul class="nav navbar-nav navbar-collapse navbar-right" id="menuMex">
                        <li><a href="https://www.gob.mx/tramites">Trámites</a></li>
                        <li><a href="https://www.gob.mx/gobierno">Gobierno</a></li>
                        <li><a href="https://www.gob.mx/busqueda"><span class="sr-only">Búsqueda</span><i class="icon-search"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar-custom container-fluid">
                <div class=" navbar-header">
                    <a class="navbar-brand" href="/"></a><img src="/images/logo-educacion.svg" height="50" alt="Educación publica"></a>
                    <a class="navbar-brand" href="/"></a><img src="/images/logo-tecnm.svg" height="50" alt="TECNM"></a>
                    <a class="navbar-brand" href="/"></a><img src="/images/logo_TECT.png" height="50" alt="ITT"></a>
                    <a class="navbar-brand" href="/"></a><img src="/images/DPTS.png" height="50" alt="DPTS"></a>
                </div>
            </div>
            <div class="navbar-customX  container-fluid  " id="mx">
                <button type="button" aria-controls="navbarSupportedContent" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent"><span class="sr-only">Interruptor de Navegación</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <div class="navbar-nav ">

                    <div class="collapse navbar-collapse " id="navbarSupportedContent">

                        <ul class="nav navbar-nav navbar-collapse navbar-left " id="menuMx">

                            <li>
                                <a href="/"><img src="/images/home.png" height="50" alt="Home"></a>
                            </li>

                            <!-- Inicia lista desplegable de navegacion -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio
              <span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li><a href="/MsVs">Misión y visión</a></li>
                                    <li><a href="/Val">Valores</a></li>
                                    <li><a href="/ObjEdu">Objetivos educacionales</a></li>
                                    <li><a href="/PDP">Plan de desarrollo departamental</a></li>
                                    <li><a href="/AttEgr">Atributos del egresado</a></li>
                                    <li><a href="/Organigrama">Organigrama</a></li>
                                    <li><a href="/PlanR">Plan reticular</a></li>
                                    <li><a href="/PlanC">Plan de contingencia</a></li>
                                </ul>
                            </li>
                            <!-- Termina lista desplegable de navegacion -->
                            <li><a href="/Noticias">NOTICIAS</a></li>
                            <!-- Inicia lista desplegable de navegacion -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Estudiantes
                <span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li><a href="/Cred">Créditos</a></li>
                                    <li><a href="/Servicio">Servicio social</a></li>
                                    <li><a href="/Convoc">Convocatoria</a></li>
                                </ul>
                            </li>
                            <!-- Termina lista desplegable de navegacion -->
                            <li><a href="/Vinculacion">VINCULACION</a></li>

                            <!-- Inicia lista desplegable de navegacion -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Docencia
              <span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li><a href="/Calendario">Calendario</a></li>
                                    <li><a href="/Hola">Bienvenida</a></li>
                                    <li><a href="GesFor">Gestión y formatos</a></li>
                                    <li><a href="/Profesores">Profesores</a></li>
                                    <li><a href="/GesCur">Gestión del curso</a></li>
                                    <li><a href="/CritEv">Criterios de evaluación</a></li>
                                    <li><a href="/InsEv">Instrumentos de evaluación</a></li>
                                    <li><a href="/ProgEst">Programas de estudio</a></li>
                                </ul>
                            </li>
                            <!-- Termina lista desplegable de navegacion -->
                            <li><a href="/Laboratorios">LABORATORIOS</a></li>
                            <li><a href="/Investigacion">INVESTIGACIÓN</a></li>
                            <!-- Inicia lista desplegable de navegacion -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">POSGRADO
                <span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li><a href="/PosConv">Convocatorias</a></li>
                                    <li><a href="/LinInvs">Lineas de Investigación</a></li>
                                    <li><a href="/PosCord">Coordinación</a></li>
                                    <li><a href="/PosEst">Estudiantes</a></li>
                                    <li><a href="/PosProgEst">Programa de estudios</a></li>
                                    <li><a href="/PosInv">Investigación</a></li>
                                    <li><a href="/PosProd">Procedimientos</a></li>
                                </ul>
                            </li>
                            <!-- Termina lista desplegable de navegacion -->
                            <!-- Inicia lista desplegable de navegacion -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sistemas
                  <span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li><a href="/ISC">Carrera</a></li>
                                    <li><a href="/ISCMat">Materias</a></li>
                                    <li><a href="/ISCLabs">Laboratorios</a></li>
                                </ul>
                            </li>
                            <!-- Termina lista desplegable de navegacion -->


                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Informatica
                    <span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li><a href="/informatica">Carrera</a></li>
                                    <li><a href="/InfMat">Materias</a></li>
                                    <li><a href="/InfLabs">Laboratorios</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">TIC's
                    <span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-nav">
                                    <li><a href="/tics">Carrera</a></li>
                                    <li><a href="/TicsMat">Materias</a></li>
                                    <li><a href="/TicsLabs">Laboratorios</a></li>
                                </ul>
                            </li>




                        </ul>
                    </div>
                </div>
            </div>

        </nav>
        <!-- NavBar End -->

    </header>

    <!-- El body de los demas -->
    <%- defineContent('hero')%>

        <main>
            <div class="container ">
                <%- body %>
            </div>

        </main>

        <!-- El body de los demas hasta aqui -->







        <!-- Footer -->
        <footer class="page-footer font-small cyan darken-3">

            <div class="row" id="sd">
                <div class="col-md-7" style="display: inline-block;">
                    <h4>CONTACTO</h4>
                    <br>
                    <div class="media">

                        <div class="media-body">

                            <h4 style="font-size: 16px;" class="media-heading">JEFA DE DEPARTAMENTO</h4>
                            <p style="font-size: 16px;">Dra. María de los Ángeles Quezada Cisnero</p>
                        </div>
                        <br>
                    </div>

                    <div class="media-body container" style="text-align: center;">

                        <h4 style="font-size: 16px;" class="media-heading">CORREO DEPARTAMENTAL</h4>

                        <p style="font-size: 16px;">sistemas@tectijuana.mx</p>
                    </div>


                    <div class="media-body">

                        <h4 style="font-size: 16px;" class="media-heading">CORREO DE LA JEFA DE DEPARTAMENTO</h4>
                        <p style="font-size: 16px;">angeles.quezada@tectijuana.edu.mx</p>
                    </div>

                    <div class="media-body">

                        <h4 style="font-size: 16px;" class="media-heading">TELÉFONO</h4>
                        <p style="font-size: 16px;">(664)607 84 00 ext. 139</p>
                    </div>

                </div>
                <div class="col-md-5">
                    <h4>REDES SOCIALES</h4>
                    <br>

                    <div class="media-body">
                        <img src="images/facebook.png" class="media-object" style="width:40px">
                        <h4 style="font-size: 16px;" class="media-heading"></h4>
                        <a href="https://www.facebook.com/sistemasycomputacionitt" style="text-decoration:none">
                            <p style="font-size: 16px;">Departamento De Sistemas Y Computación Itt</p>
                        </a>
                    </div>


                    <div class="media-body">
                        <img src="images/facebook.png" class="media-object" style="width:40px">
                        <h4 style="font-size: 16px;" class="media-heading"></h4>
                        <a href="https://www.facebook.com/desarrollo.academico.itt" style="text-decoration:none">
                            <p style="font-size: 16px;">Desarrollo Académico Ittijuana</p>
                        </a>
                    </div>


                    <div class="media-body">
                        <img src="images/facebook.png" class="media-object" style="width:40px">
                        <a href="https://www.facebook.com/TecNMTijuana" style="text-decoration:none">
                            <p style="font-size: 16px;">Instituto Tecnológico de Tijuana</p>
                        </a>
                    </div>

                </div>


            </div>

        </footer>
        <!-- Footer End -->
        <script src="../js/headroom.min.js"></script>
        <script src="../js/menu.js"></script>
</body>