<%- contentFor ('hero') %>

<section class="hero">
    <div class="hero-content">

<h1><%- nom%> <%- ape%> <BR> GRACIAS POR REGISTRARSE </h1>
<p>SE LE ENVIARA UNA RESPUESTA A SU CORREO <%- email%> EN CUANTO SE PROCESEN SUS DATOS</p>

<form action="/">
    <div class="form-group">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
        </div>
    </div>
</form>

</div>
</section>
