<%- contentFor ('hero') %>

    <section class="hero">
        <div class="hero-content">
            <h1> </h1>
        </div>
    </section>

    <%- contentFor ('body') %>
    <div class="row">
        <h1>DEPARTAMENTOS</h1>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8" style="align-items: center;">
   
            <img src="images/departamento.png" alt="" style="width: 520px;">
        </div>
        <div class="col-sm-2">

        </div>
            
    </div>
    <Br/></Br/>
    <div class="row">         <h1>CARRERAS</h1>
        <div class="col-sm-4">
            <img src="images/sis.png" alt="" style="width: 400px;">
        </div>
        <div class="col-sm-4">
            <img src="images/informatica.png" alt="" style="width: 400px;">
        </div>
        <div class="col-sm-4">
            <img src="images/tics.png" alt="" style="width: 400px;">
        </div>
        
     
        
    </div>
    <br>
     
    <br>
     
    <br>
     
    <br>
     
    <br>
     
       <div class="row">

       </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        DIRECCIÓN
                    </h2>
                  <h3>
               
                    Unidad Tomás Aquino, Calzada Tecnológico S/N Esq. Av. Castillo de Chapultepec y calle Cuauhtemotzin, Fracc. Tomás Aquino C.P. 22414
                  </h3>
                    
                </div>
                <div class="col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4967.88441337432!2d-116.99023847598329!3d32.52901765037518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d94875c00b2a3d%3A0x281526cf22a3e2cc!2sInstituto%20Tecnol%C3%B3gico%20de%20Tijuana!5e0!3m2!1ses!2smx!4v1620236486169!5m2!1ses!2smx" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                
               
              </div>
    