<%- contentFor ('hero') %>

    <section class="hero">
        <div class="hero-content">
            <h1>Bienvenido a la pagina de sistemas computacionales</h1>
        </div>
    </section>

    <%- contentFor ('body') %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1 style="align-content: center; color: rgb(21, 21, 170);">Reticula Ingeniería en Informatica</h1>
                    <br>
                    <p style="color: rgb(21, 21, 170);">Selecciona la materia dentro de la imagen para ver su temario</p>
                    <hr>
                    <!--Comienza Reticula Base -->
                    <div class="jumbotron"><h2 style="align-content: center; color: rgb(21, 21, 170);">Reticula Base</h2></div>
                            <map name="image-map-ReticulaIn">
                                <!--Agregar coordenadas de las materias-->
                            </map>
                            <img src="#" usemap="#image-map-ReticulaIn" alt="Imagen de la reticula Base">
                            <!--Termina Reticula Base-->
                            <hr>
                    <!--Comienza Reticula especialidad Base de Datos-->
                    <div class="jumbotron"><h2 style="align-content: center; color: rgb(21, 21, 170);">Reticula especialidad Base de datos</h2></div>
                            <map name="image-map-ReticulaInBD">
                                <!--Agregar coordenadas de las materias-->
                            </map>
                            <img src="#" usemap="#image-map-ReticulaInBD" alt="Imagen de la reticula Base">
                            <!--Termina Reticula especialidad Base de Datos-->
                             <hr>
                    <!--Comienza Reticula especialidad Analisis, Diseño y Desarrollo de Software-->
                    <div class="jumbotron"><h2 style="align-content: center; color: rgb(21, 21, 170);">Reticula especialidad Analisis, Diseño y Desarrollo de Software</h2></div>
                            <map name="image-map-ReticulaInAD">
                                <!--Agregar coordenadas de las materias-->
                            </map>
                            <img src="#" usemap="#image-map-ReticulaInAD" alt="Imagen de la reticula Base">
                            <!--Termina Reticula especialidad Analisis, Diseño y Desarrollo de Software-->
            </div>
        </div>