<%- contentFor ('hero') %>

    <section class="hero">
        <div class="hero-content">
            <h2>Informatica</h2>
        </div>
    </section>

    <%- contentFor ('body') %>
        <div class="jumbotron text-center">
            <div class ="pres-container">
                <div class="card-container" style="border-color: #0c0c0c";>
                    <p style="text-align: right;"><img loading="lazy" class="wp-image-12154  alignleft"  src="/images/INFORMATICA_HEADING-300x98.png" alt="INFORMATICA_HEADING" width="411" height="135" data-id="6067"  sizes="(max-width: 411px) 100vw, 411px"></p>
                    <div class="ficha-presentacion">
                      <span style="color: #403d3d;">
                        <strong>Departamento de Sistemas y Computacion</strong>
                      
                      <br>
                      <span style="color: #403d3d;"></span>
                      <strong >M.E. ARNULFO CASTRO TRASVIÑA</strong>
                      <br>Coordinador de Ingeniería en Informatica<br>
                      Teléfono.(664)&nbsp;&nbsp;607 84 48 ext. 146<br>
                    
                      Correo oficial: <a href="mailto:ing.informatica@tectijuana.edu.mx">ing.informatica@tectijuana.edu.mx</a><br>
                      </span>
                   </div>
                </div>
            </div>
            <a href="https://goo.gl/maps/GMSGiTx8TdAkZSnh7">Unidad Tomás Aquino, Calzada Tecnológico S/N Esq. Av. Castillo de Chapultepec y calle Cuauhtemotzin, Fracc. Tomás Aquino C.P. 22414</a>
        </div>