<%- contentFor ('hero') %>

    <section class="hero">
        <div class="hero-content">
            <h1>Bienvenido a la pagina de sistemas computacionales</h1>
        </div>
    </section>

    <%- contentFor ('body') %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1 style="align-content: center; color: rgb(21, 21, 170);">Reticula Ingenieria en Sistemas Computacionales</h1>
                    <br>
                    <p style="color: rgb(21, 21, 170);">Selecciona la materia dentro de la imagen para ver su temario</p>
                    <hr>
                    <!--Comienza Reticula Base ISC-->
                    <div class="jumbotron"><h2 style="align-content: center; color: rgb(21, 21, 170);">Reticula Base</h2></div>
                            <map name="image-map-Reticula">
                                <area href="#" target="_blank" alt="Temario Calculo Diferencial" shape="rect" coords="=15,141,75,183">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Programacion" shape="rect" coords="16,195,76,237">
                                <area href="#" target="_blank" alt="Temario Findamentos de Investigacion" shape="rect" coords="17,250,77,292">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion" shape="rect" coords="16,305,76,347">
                                <area href="#" target="_blank" alt="Temario Taller de Etica" shape="rect" coords="16,358,76,400">
                                <area href="#" target="_blank" alt="Temario Matematicas Discretas" shape="rect" coords="16,411,76,453">
                                <area href="#" target="_blank" alt="Temario Cultura Empresarial" shape="rect" coords="94,304,154,346">
                                <area href="#" target="_blank" alt="Temario Programacion Orientada a Objetos" shape="rect" coords="95,195,155,237">
                                <area href="#" target="_blank" alt="Temario Calculo Integral" shape="rect" coords="95,141,155,183">
                                <area href="/docs/Álgebra Programa.pdf" target="_blank" alt="Temario Algebra" shape="rect" coords="94,250,154,292">
                                <area href="/docs/Fisica General.pdf" target="_blank" alt="Temario Fisica" shape="rect" coords="94,413,154,455">
                                <area href="/docs/AE058 Quimica.pdf" target="_blank" alt="Temario Quimica" shape="rect" coords="172,249,232,291">
                                <area href="/docs/AE055 Programacion Web.pdf" target="_blank" alt="Temario Programacion web" shape="rect" coords="561,142,618,182">
                                <area href="/docs/Programa de Estudio Probabilidad y Estadistica.pdf" target="_blank" alt="Temario Probabilidad" shape="rect" coords="93,358,153,400">
                                <area href="#" target="_blank" alt="Temario Calculo Vectorial" shape="rect" coords="172,141,232,183">
                                <area href="#" target="_blank" alt="Temario Estructura de Datos" shape="rect" coords="171,196,231,238">
                                <area href="#" target="_blank" alt="Temario Contabilidad Financiera" shape="rect" coords="172,304,232,346">
                                <area href="#" target="_blank" alt="Temario Investigacion de Operaciones" shape="rect" coords="173,359,233,401">
                                <area href="#" target="_blank" alt="Temario Principios Electricos y Aplicaciones Digitales" shape="rect" coords="173,412,233,454">
                                <area href="#" target="_blank" alt="Temario Ecuaciones Diferenciales" shape="rect" coords="251,141,311,183">
                                <area href="#" target="_blank" alt="Temario Topicos Avanzados de Programacion" shape="rect" coords="251,196,311,238">
                                <area href="#" target="_blank" alt="Temario Metodos Numericos" shape="rect" coords="251,250,311,292">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Bases de Datos" shape="rect" coords="250,304,310,346">
                                <area href="#" target="_blank" alt="Temario Simulacion" shape="rect" coords="249,360,309,402">
                                <area href="#" target="_blank" alt="Temario Arquitectura de Computadoras" shape="rect" coords="250,411,310,453">
                                <area href="#" target="_blank" alt="Temario Graficacion" shape="rect" coords="326,141,386,183">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Telecomunicaciones" shape="rect" coords="326,196,386,238">
                                <area href="#" target="_blank" alt="Temario Sistemas Operativos" shape="rect" coords="327,251,387,293">
                                <area href="#" target="_blank" alt="Temario Taller de Bases de Datos" shape="rect" coords="327,305,387,347">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Ingenieria de Software" shape="rect" coords="326,358,386,400">
                                <area href="#" target="_blank" alt="Temario Desarrollo Sustentable" shape="rect" coords="326,412,386,454">
                                <area href="#" target="_blank" alt="Temario Lenguajes Automatas I" shape="rect" coords="404,141,464,183">
                                <area href="#" target="_blank" alt="Temario Redes de Computadoras" shape="rect" coords="404,195,464,237">
                                <area href="#" target="_blank" alt="Temario Taller de Sistemas Operativos" shape="rect" coords="405,249,465,291">
                                <area href="#" target="_blank" alt="Temario Administracion de Bases de Datos" shape="rect" coords="403,304,463,346">
                                <area href="#" target="_blank" alt="Temario Ingenieria de Software" shape="rect" coords="404,358,464,400">
                                <area href="#" target="_blank" alt="Temario Lenguaje de Interfaz" shape="rect" coords="404,411,464,453">
                                <area href="#" target="_blank" alt="Temario Lenguajes Automatas II" shape="rect" coords="481,141,541,183">
                                <area href="#" target="_blank" alt="Temario Comunicacion y Enrutamiento de Redes de Datos" shape="rect" coords="482,194,542,236">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion I" shape="rect" coords="482,249,542,291">
                                <area href="#" target="_blank" alt="Temario Programacion Logica y Funcional" shape="rect" coords="481,303,541,345">
                                <area href="#" target="_blank" alt="Temario Gestion de Proyectos de Software" shape="rect" coords="481,357,541,399">
                                <area href="#" target="_blank" alt="Temario Sistemas Programables" shape="rect" coords="481,412,541,454">
                                <area href="#" target="_blank" alt="Temario Administracion de Redes" shape="rect" coords="561,196,621,238">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion II" shape="rect" coords="560,251,620,293">
                                <area href="#" target="_blank" alt="Temario Inteligencia Artificial" shape="rect" coords="559,303,619,345">
                                <area href="#" target="_blank" alt="Temario" shape="rect" coords="559,358,619,400">
                                <area href="#" target="_blank" alt="Temario" shape="rect" coords="559,412,619,454">
                                <area href="#" target="_blank" alt="Temario" shape="rect" coords="638,141,698,183">
                                <area href="#" target="_blank" alt="Temario" shape="rect" coords="636,195,696,237">
                                <area href="#" target="_blank" alt="Temario" shape="rect" coords="638,251,698,293">
                            </map>
                            <img src="/images/ReticulaISC.jpg" usemap="#image-map-Reticula" alt="Imagen de la reticula">
                            <!--Termina Reticula Base-->
                            <hr>
                            <!--Comienza Reticula de Base de Datos-->
                            <div class="jumbotron"><h2 style="align-content: center; color: rgb(21, 21, 170);">Reticula especialidad Base de Datos</h2></div>
                            <map name="image-map-ReticulaBD">
                                <area href="#" target="_blank" alt="Temario Calculo Diferencial" shape="rect" coords="=15,141,75,183">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Programacion" shape="rect" coords="16,195,76,237">
                                <area href="#" target="_blank" alt="Temario Findamentos de Investigacion" shape="rect" coords="17,250,77,292">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion" shape="rect" coords="16,305,76,347">
                                <area href="#" target="_blank" alt="Temario Taller de Etica" shape="rect" coords="16,358,76,400">
                                <area href="#" target="_blank" alt="Temario Matematicas Discretas" shape="rect" coords="16,411,76,453">
                                <area href="#" target="_blank" alt="Temario Cultura Empresarial" shape="rect" coords="94,304,154,346">
                                <area href="#" target="_blank" alt="Temario Programacion Orientada a Objetos" shape="rect" coords="95,195,155,237">
                                <area href="#" target="_blank" alt="Temario Calculo Integral" shape="rect" coords="95,141,155,183">
                                <area href="/docs/Álgebra Programa.pdf" target="_blank" alt="Temario Algebra" shape="rect" coords="94,250,154,292">
                                <area href="/docs/Fisica General.pdf" target="_blank" alt="Temario Fisica" shape="rect" coords="94,413,154,455">
                                <area href="/docs/AE058 Quimica.pdf" target="_blank" alt="Temario Quimica" shape="rect" coords="172,249,232,291">
                                <area href="/docs/AE055 Programacion Web.pdf" target="_blank" alt="Temario Programacion web" shape="rect" coords="561,142,618,182">
                                <area href="/docs/Programa de Estudio Probabilidad y Estadistica.pdf" target="_blank" alt="Temario Probabilidad" shape="rect" coords="93,358,153,400">
                                <area href="#" target="_blank" alt="Temario Calculo Vectorial" shape="rect" coords="172,141,232,183">
                                <area href="#" target="_blank" alt="Temario Estructura de Datos" shape="rect" coords="171,196,231,238">
                                <area href="#" target="_blank" alt="Temario Contabilidad Financiera" shape="rect" coords="172,304,232,346">
                                <area href="#" target="_blank" alt="Temario Investigacion de Operaciones" shape="rect" coords="173,359,233,401">
                                <area href="#" target="_blank" alt="Temario Principios Electricos y Aplicaciones Digitales" shape="rect" coords="173,412,233,454">
                                <area href="#" target="_blank" alt="Temario Ecuaciones Diferenciales" shape="rect" coords="251,141,311,183">
                                <area href="#" target="_blank" alt="Temario Topicos Avanzados de Programacion" shape="rect" coords="251,196,311,238">
                                <area href="#" target="_blank" alt="Temario Metodos Numericos" shape="rect" coords="251,250,311,292">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Bases de Datos" shape="rect" coords="250,304,310,346">
                                <area href="#" target="_blank" alt="Temario Simulacion" shape="rect" coords="249,360,309,402">
                                <area href="#" target="_blank" alt="Temario Arquitectura de Computadoras" shape="rect" coords="250,411,310,453">
                                <area href="#" target="_blank" alt="Temario Graficacion" shape="rect" coords="326,141,386,183">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Telecomunicaciones" shape="rect" coords="326,196,386,238">
                                <area href="#" target="_blank" alt="Temario Sistemas Operativos" shape="rect" coords="327,251,387,293">
                                <area href="#" target="_blank" alt="Temario Taller de Bases de Datos" shape="rect" coords="327,305,387,347">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Ingenieria de Software" shape="rect" coords="326,358,386,400">
                                <area href="#" target="_blank" alt="Temario Desarrollo Sustentable" shape="rect" coords="326,412,386,454">
                                <area href="#" target="_blank" alt="Temario Lenguajes Automatas I" shape="rect" coords="404,141,464,183">
                                <area href="#" target="_blank" alt="Temario Redes de Computadoras" shape="rect" coords="404,195,464,237">
                                <area href="#" target="_blank" alt="Temario Taller de Sistemas Operativos" shape="rect" coords="405,249,465,291">
                                <area href="#" target="_blank" alt="Temario Administracion de Bases de Datos" shape="rect" coords="403,304,463,346">
                                <area href="#" target="_blank" alt="Temario Ingenieria de Software" shape="rect" coords="404,358,464,400">
                                <area href="#" target="_blank" alt="Temario Lenguaje de Interfaz" shape="rect" coords="404,411,464,453">
                                <area href="#" target="_blank" alt="Temario Lenguajes Automatas II" shape="rect" coords="481,141,541,183">
                                <area href="#" target="_blank" alt="Temario Comunicacion y Enrutamiento de Redes de Datos" shape="rect" coords="482,194,542,236">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion I" shape="rect" coords="482,249,542,291">
                                <area href="#" target="_blank" alt="Temario Programacion Logica y Funcional" shape="rect" coords="481,303,541,345">
                                <area href="#" target="_blank" alt="Temario Gestion de Proyectos de Software" shape="rect" coords="481,357,541,399">
                                <area href="#" target="_blank" alt="Temario Sistemas Programables" shape="rect" coords="481,412,541,454">
                                <area href="#" target="_blank" alt="Temario Administracion de Redes" shape="rect" coords="561,196,621,238">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion II" shape="rect" coords="560,251,620,293">
                                <area href="#" target="_blank" alt="Temario Inteligencia Artificial" shape="rect" coords="559,303,619,345">
                                <area href="#" target="_blank" alt="Temario Estadistica y Analisis de Datos" shape="rect" coords="559,358,619,400">
                                <area href="#" target="_blank" alt="Temario Computo Distribuido" shape="rect" coords="559,412,619,454">
                                <area href="#" target="_blank" alt="Temario Mineria de Datos" shape="rect" coords="638,141,698,183">
                                <area href="#" target="_blank" alt="Temario Datos Masivos" shape="rect" coords="636,195,696,237">
                            </map>
                            <img src="/images/ReticulaISCBD.jpg" usemap="#image-map-ReticulaBD" alt="Imagen de la reticula Bases de Datos">
                            <!--Termina reticula de Base de Datos-->
                            <hr>
                            <!--Comienza Reticuala de Analisis y Diseño de Software-->
                            <div class="jumbotron"><h2 style="align-content: center; color: rgb(21, 21, 170);">Reticula especialidad Analisis y Diseño de Software</h2></div>
                            <map name="image-map-ReticulaAD">
                                <area href="#" target="_blank" alt="Temario Calculo Diferencial" shape="rect" coords="=15,141,75,183">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Programacion" shape="rect" coords="16,195,76,237">
                                <area href="#" target="_blank" alt="Temario Findamentos de Investigacion" shape="rect" coords="17,250,77,292">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion" shape="rect" coords="16,305,76,347">
                                <area href="#" target="_blank" alt="Temario Taller de Etica" shape="rect" coords="16,358,76,400">
                                <area href="#" target="_blank" alt="Temario Matematicas Discretas" shape="rect" coords="16,411,76,453">
                                <area href="#" target="_blank" alt="Temario Cultura Empresarial" shape="rect" coords="94,304,154,346">
                                <area href="#" target="_blank" alt="Temario Programacion Orientada a Objetos" shape="rect" coords="95,195,155,237">
                                <area href="#" target="_blank" alt="Temario Calculo Integral" shape="rect" coords="95,141,155,183">
                                <area href="/docs/Álgebra Programa.pdf" target="_blank" alt="Temario Algebra" shape="rect" coords="94,250,154,292">
                                <area href="/docs/Fisica General.pdf" target="_blank" alt="Temario Fisica" shape="rect" coords="94,413,154,455">
                                <area href="/docs/AE058 Quimica.pdf" target="_blank" alt="Temario Quimica" shape="rect" coords="172,249,232,291">
                                <area href="/docs/AE055 Programacion Web.pdf" target="_blank" alt="Temario Programacion web" shape="rect" coords="561,142,618,182">
                                <area href="/docs/Programa de Estudio Probabilidad y Estadistica.pdf" target="_blank" alt="Temario Probabilidad" shape="rect" coords="93,358,153,400">
                                <area href="#" target="_blank" alt="Temario Calculo Vectorial" shape="rect" coords="172,141,232,183">
                                <area href="#" target="_blank" alt="Temario Estructura de Datos" shape="rect" coords="171,196,231,238">
                                <area href="#" target="_blank" alt="Temario Contabilidad Financiera" shape="rect" coords="172,304,232,346">
                                <area href="#" target="_blank" alt="Temario Investigacion de Operaciones" shape="rect" coords="173,359,233,401">
                                <area href="#" target="_blank" alt="Temario Principios Electricos y Aplicaciones Digitales" shape="rect" coords="173,412,233,454">
                                <area href="#" target="_blank" alt="Temario Ecuaciones Diferenciales" shape="rect" coords="251,141,311,183">
                                <area href="#" target="_blank" alt="Temario Topicos Avanzados de Programacion" shape="rect" coords="251,196,311,238">
                                <area href="#" target="_blank" alt="Temario Metodos Numericos" shape="rect" coords="251,250,311,292">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Bases de Datos" shape="rect" coords="250,304,310,346">
                                <area href="#" target="_blank" alt="Temario Simulacion" shape="rect" coords="249,360,309,402">
                                <area href="#" target="_blank" alt="Temario Arquitectura de Computadoras" shape="rect" coords="250,411,310,453">
                                <area href="#" target="_blank" alt="Temario Graficacion" shape="rect" coords="326,141,386,183">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Telecomunicaciones" shape="rect" coords="326,196,386,238">
                                <area href="#" target="_blank" alt="Temario Sistemas Operativos" shape="rect" coords="327,251,387,293">
                                <area href="#" target="_blank" alt="Temario Taller de Bases de Datos" shape="rect" coords="327,305,387,347">
                                <area href="#" target="_blank" alt="Temario Fundamentos de Ingenieria de Software" shape="rect" coords="326,358,386,400">
                                <area href="#" target="_blank" alt="Temario Desarrollo Sustentable" shape="rect" coords="326,412,386,454">
                                <area href="#" target="_blank" alt="Temario Lenguajes Automatas I" shape="rect" coords="404,141,464,183">
                                <area href="#" target="_blank" alt="Temario Redes de Computadoras" shape="rect" coords="404,195,464,237">
                                <area href="#" target="_blank" alt="Temario Taller de Sistemas Operativos" shape="rect" coords="405,249,465,291">
                                <area href="#" target="_blank" alt="Temario Administracion de Bases de Datos" shape="rect" coords="403,304,463,346">
                                <area href="#" target="_blank" alt="Temario Ingenieria de Software" shape="rect" coords="404,358,464,400">
                                <area href="#" target="_blank" alt="Temario Lenguaje de Interfaz" shape="rect" coords="404,411,464,453">
                                <area href="#" target="_blank" alt="Temario Lenguajes Automatas II" shape="rect" coords="481,141,541,183">
                                <area href="#" target="_blank" alt="Temario Comunicacion y Enrutamiento de Redes de Datos" shape="rect" coords="482,194,542,236">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion I" shape="rect" coords="482,249,542,291">
                                <area href="#" target="_blank" alt="Temario Programacion Logica y Funcional" shape="rect" coords="481,303,541,345">
                                <area href="#" target="_blank" alt="Temario Gestion de Proyectos de Software" shape="rect" coords="481,357,541,399">
                                <area href="#" target="_blank" alt="Temario Sistemas Programables" shape="rect" coords="481,412,541,454">
                                <area href="#" target="_blank" alt="Temario Administracion de Redes" shape="rect" coords="561,196,621,238">
                                <area href="#" target="_blank" alt="Temario Taller de Investigacion II" shape="rect" coords="560,251,620,293">
                                <area href="#" target="_blank" alt="Temario Inteligencia Artificial" shape="rect" coords="559,303,619,345">
                                <area href="#" target="_blank" alt="Temario Patrones de diseño" shape="rect" coords="559,358,619,400">
                                <area href="#" target="_blank" alt="Temario Analisis Avanzado de Software" shape="rect" coords="559,412,619,454">
                                <area href="#" target="_blank" alt="Temario Diseño de Interfaces de Usuario(Unix)" shape="rect" coords="638,141,698,183">
                                <area href="#" target="_blank" alt="Temario Topicos Avanzados de Desarrollo de Software" shape="rect" coords="636,195,696,237">
                            </map>
                            <img src="/images/ReticulaISCAD.jpg" usemap="#image-map-ReticulaAD" alt="Imagen de la reticula Analisis y Desarrollo de Software">
                            <!--Termina reticula de Analisis y Diseño de Software-->
            </div>
        </div>