<%- contentFor ('hero') %>

    <section class="hero">
        <div class="hero-content">
            <h1>Bienvenido a la pagina de Laboratorios</h1>
        </div>
    </section>

    <%- contentFor ('body') %>
    <div class="jumbotron text-center">
        <p> La pagina que buscas no se encuentra disponible de momentos</p>
     </div>