<%- contentFor ('hero') %>

<section class="hero">
    <div class="hero-content">
        <h2>Tecnologias de la informacion y comunicacion</h2>
</section>

<%- contentFor ('body') %>
    <div class="jumbotron text-center">
        <div class ="pres-container">
            <div class="card-container" style="border-color: #0c0c0c";>
                <span style="font-size: 10pt;"><img loading="lazy" class="wp-image-12154  alignleft"  src="/images/TECNOLOGIAS-DE-LA-INFORMACION-Y-COMUNICACIONES_HEADING1-300x98 (1).png" alt="TECNOLOGIAS DE LA INFORMACION Y COMUNICACIONES_HEADING" width="347" height="114" data-id="6069"  sizes="(max-width: 347px) 100vw, 347px"></span>
                <div class="ficha-presentacion">
                  <span style="color: #403d3d;">
                    <strong>Departamento de Sistemas y Computacion</strong>
                  
                  <br>
                  <span style="color: #403d3d;"></span>
                  <strong >ING. MARIANA HUIZAR TEJADA</strong>
                  <br>Coordinador de Ingeniería en Tecnologías de la Información y Comunicaciones<br>
                  Teléfono.(664)&nbsp;&nbsp;607 84 48 ext. 146<br>
                
                  Correo oficial: <a href="mailto:ing.tic@tectijuana.edu.mx">ing.tic@tectijuana.edu.mx</a><br>
                  </span>
               </div>
            </div>
        </div>
        <a href="https://goo.gl/maps/GMSGiTx8TdAkZSnh7">Unidad Tomás Aquino, Calzada Tecnológico S/N Esq. Av. Castillo de Chapultepec y calle Cuauhtemotzin, Fracc. Tomás Aquino C.P. 22414</a>
    </div>